<form action="/categoria/create" method="POST">
    <h2>Nova Categoria </h2>
    <label>Nome:</label>
    <input type="text" name="nome" id="nome" placeholder="Nome" value="" />
    <label>Descrição</label>
    <textarea name="descricao" id="descricao" value="" placeholder="Breve descrição da categoria"></textarea>
    <input type="submit" name="save" value="Salvar" />
</form>