<div class="col-lg-6">
    <form action="/departamento/create" method="POST">
        <h2>Novo departamento</h2>
        <label>Nome:</label>
        <div class="form-group">
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" value="" />
        </div>
        <label>Andar:</label>
        <div class="form-group">
            <select name="andar" id='andar' class="form-control">
            	<option value="">Selecione</option>
            	<option value="03">03</option>
            	<option value="14">14</option>
            	<option value="15">15</option>
            </select>
        </div>
        <label>Numero da Sala:</label>
        <div class="form-group">
            <input type="text" name="numero_sala" id="numero_sala" class="form-control" placeholder="Numero da sala" value="" />
        </div>
        <label>Unidade:</label>
        <div class="form-group">
            <select name="unidade" id='unidade' class="form-control">
            	<option value="ICN Rio">ICN Rio</option>
            	<option value="ICN CTO">ICN CTO</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" name="save" class="btn btn-default pull-right" value="Salvar" />
        </div>
    </form>
</div>