<h1><%= departamento.nome %></h1>
<hr />
<h3>Andar: <%= departamento.andar %>ยบ</h3>
<h3>Sala: <%= (departamento.numero_sala != '')? departamento.numero_sala: '-' %></h3>
<h3>Unidade: <%= departamento.unidade %></h3>