<h3>Visualizando Departamento</h3>
<div class="well">
	<h1><%= departamento.nome %></h1>
	<hr />
	<h4>Andar: <%= departamento.andar %>ยบ</h4>
	<h4>Sala: <%= (departamento.numero_sala != '')? departamento.numero_sala: '-' %></h4>
	<h4>Unidade: <%= departamento.unidade %></h4>
</div>